Flask==3.0.3
gunicorn==23.0.0
gspread==*  # Hoặc phiên bản cụ thể
click==8.1.7 # Nếu bạn sử dụng Click
Jinja2==3.1.4 # Cần thiết cho Flask
Werkzeug==3.0.6 # Cần thiết cho Flask
MarkupSafe==2.1.5 # Cần thiết cho Jinja2
itsdangerous==2.2.0 # Cần thiết cho Flask
setuptools>=42.0.0