streamlit==1.18.0
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
et_xmlfile==2.0.0
Flask==3.0.3
google-api-core==2.23.0
google-api-python-client==2.50.0  # Hạ cấp phiên bản để tránh xung đột
google-auth==2.30.0  # Phiên bản tương thích
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.66.0
gunicorn==23.0.0
httplib2==0.22.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.21.0  # Giảm phiên bản để tương thích
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.2
pandas==1.5.0  # Giảm phiên bản
proto-plus==1.25.0
protobuf==3.20.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.15.0
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
Werkzeug==3.0.6
zipp==3.20.2
streamlit==1.18.0